h1 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
h2 {
    text-align: left;
    font-size: 17.5px;
    font-weight: bold;
}
.left {
    text-align: left;
}
.link {
    font-weight: bold;
    font-size: medium;
}
.instructions {
    font-size: 15px;
}